* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: [col1] 36vw [col2] auto [col3];
    grid-template-rows: 22vh 61vh 17vh;

    grid-template-areas:
        "info categories"
        "receipt modifiers"
        "receipt-ops order-ops";
    background-color: grey;
}

.screen>div {
    background-color: #8FAECF;
    text-align: center;
    font-size: 30px;
    border: 3px lightgrey inset;
}

.screen .order-info {
    grid-area: info;
}

.order-receipt {
    grid-area: receipt;
}

.screen > .order-receipt {
    background-color: #fde5c0;
}

.order-receipt:after {
    content: 'Not iPad'
}

.item-categories {
    grid-area: categories;
    display: grid;
}

.item-contegories > .item-category {
    background: linear-gradient(#dadada, #aeaeae);
}

.item-modifiers {
    grid-area: modifiers;
    display: grid;
}

.receipt-operations {
    grid-area: receipt-ops;
    /* height: 20vh; */
}

.order-operations {
    grid-area: order-ops;
    height: 100%;
}

.control-bar {
    border-top: 4px #c4cfd6 inset;
    display: flex;
}

.control-bar button {
    text-align: center;
    width: calc(100% / 6);
    margin: 0 3px;
    height: 3vh;
    background-color: #007400;
    color: white;
    border: none;
}

.item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 11.5vh);
    padding-right: 80px;
    overflow-y: hidden;
}

.scroll-down-modifiers, .scroll-up-modifiers {
    height: 5vh;
    width: 3vw;
    position: fixed;
    right: 1.4vw;
}

.scroll-down-modifiers {
    bottom: 22.4vh;
}

.scroll-up-modifiers {
    top: 23vh;
}

.item-category,
.item-modifier {
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    font-size: 1.1rem;
    height: 7.4vh;
    width: 10vw;
    margin: 10px;
    background: linear-gradient(#dadada, #aeaeae);
}

.blank-item {
    border: 1px solid #8FAECF;
    border-radius: 10%;
    height: 7.4vh;
    width: 10vw;
    margin: 10px;
}

.item-category>p,
.item-modifier>p {
    height: 100%;
    width: 100%;
    margin-top: 10%;
    color: orange;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
}

/** 
 * iPad with portrait orientation.
 */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .screen {
        height: 1024px;
    }
    .order-receipt:after {
        content: 'iPad portrait'
    }
}

/** 
   * iPad with landscape orientation.
   */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .screen {
        height: 768px;
    }
    .order-receipt:after {
        content: 'iPad landscape'
    }
}